<html>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Inter&display=swap' rel='stylesheet' />
    <style type='text/css'>
      body { padding: 70px; text-align: center; font-family: 'Inter', sans-serif; font-size: 18px; }
      body { color: #000000; background-color: #FFF; } .logo-container { padding: 20px } .logo {
      height: 30px; } .content { margin-top: 50px; width:500px; display: inline-block; color:
      #030A40} .button { color: #0459FD; border-radius: 5px; font-weight: 700; font-size: 18px;
      padding: 15px 120px 15px 120px; margin: 0 auto; width: auto; text-align: center;
      text-decoration: none; } .content-text { text-align: left; font-size: 18px; }
      .participant-detail { background: rgba(192, 214, 255, 0.3); border-radius: 5px; padding: 16px
      22px; margin-top: 24px;} .table-header { text-align: left; font-weight: 600; font-size: 16px;
      line-height: 29px; color: #000000; } table { text-align: left; font-weight: 400; font-size:
      14px; line-height: 34px; } tbody tr td:first-child { width: 250px; min-width: 250px;
      max-width: 250px; word-break: break-all; } .table-header:nth-child(3) { margin-top: 24px; }
      .footer { margin-top: 32px; }
    </style>
  </head>
  <body>
    <div>
      <a href='{{baseUrl}}'><img src='{{baseUrl}}/uid2-logo.png' alt='UID2 logo' class='logo' /></a>
    </div>

    <div class='content'>
      <p class='content-text'>
        Hello,<br /><br />
        The following participant has requested a UID2 Portal account. Please validate the following
        information and ensure that the Participation Policy has been signed. If all is accurate,
        open a ticket with TAM.
      </p>
      <div class='participant-detail'>
        <div class='table-header'>Participation Information</div>
        <table>
          <tr><td>Participant</td><td>{{participant}}</td></tr>
          <tr><td>Participant Type</td><td>{{participantType}}</td></tr>
        </table>
        <div class='table-header'>Requestor</div>
        <table>
          <tr><td>Name</td><td>{{requestor}}</td></tr>
          <tr><td>Email</td><td>{{requestorEmail}}</td></tr>
          <tr><td>Job Function</td><td>{{jobFunction}}</td></tr>
        </table>
      </div>
      <div class='footer'>
        <a href='{{link}}' class='button'>Open a ticket with TAM</a>
      </div>
    </div>
  </body>
</html>